.card:hover {
  cursor: pointer;
}

.card {
  background-color: rgb(186 187 207 / 50%);
}

.cardActive {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.description {
  font-size: 12px;
  color: gray;
}