.card:hover {
  cursor: pointer;
}

.card {
  background-color: rgb(124 128 212 / 50%);
}

.cardActive {
  box-shadow: rgb(226 226 226 / 55%) 0px 0px 15px;
}

.description {
  font-size: 12px;
  color: #cfcfcf;
}